[client]
character-set-server = utf8
port = 3306
socket = /var/lib/mysql/mysql.sock

[mysqld]
character-set-server = utf8
port = 3306
socket = /var/lib/mysql/mysql.sock

#跳过外部锁定
skip-external-locking
  
#mysql可能的连接数量，默认50，小于512
back-log = 384   

#用于索引的缓冲区大小，对于内存在4G左右的服务器，设为256M或384M  
key_buffer_size = 256M 

#允许接收的最大数据包  
max_allowed_packet = 4M 

#表缓存个数，打开表时先在缓存中查找
table_open_cache = 1024

#用来存放每一个线程自身的标识信息
thread_stack = 256K

#数据表高速缓存的数目
table_cache = 512

#线程缓存数目
thread_cache_size = 64

#查询缓冲区大小
query_cache_size = 64M

#第一次使用buffer时，一次性分配的内存
sort_buffer_size = 512K

#读查询操作所使用的缓存区大小
read_buffer_size = 4M

#联合查询操作所用的缓冲区大小
join_buffer_size = 8M

#随机查询缓冲区大小
read_rnd_buffer_size = 16M

#建立连接时的连接缓冲和结果缓冲。最小值是1K，最大值是1M
net_buffer_length = 1M

#myisam表发生变化重新排序所需的缓存大小
myisam_sort_buffer_size = 64M  

[mysqldump]
quick
max_allowed_packet = 32M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
